/* common shareed style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif ;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: var(--White-Color, #FFF);
    border-radius: 5px;
   background:#FD6E0A;

}
/* nav related style */
nav {
   display: flex;
}
.nav-title {
color: var(--Dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
