/*common shred style*/
body {
    font-family: 'Open Sans', 'sans-erif';
    font-family: 'Open Sans','sans-erif';
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nev-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;

}
/*Header related style*/
.header{
    background-color: #FFF8F3;
    background-image: url('..//images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    width: 406px;
    height: 520px;
}
.banner-greeting{
color: #474747;
font-size: 45px;
margin-bottom: 0px;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
/*main section style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/*about section style*/
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-description{
    margin-bottom: 30px;
    max-width: 827px;
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.info-description{
    color: #474747;
    font-weight: 700;
}
/*what i do section*/
#what-i-do-description{
    padding: 30px 150px;
}
/*skill section style*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
}
/*resume retaled style*/
.resume-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.resume-container hr{
    margin: 30px 0px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    gap: 100px;
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-colmun{
    width: 50%;
}
.footer-colmun-description{
    margin-bottom: 30px;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}
.social-link a {
    margin-right: 24px;
    margin-top: 0px;
}
.footer-colmun-tile{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.contact input[type="text"], .contact input[type="email"],
textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background:#FFF;
    border: 0;
    width: 100%;
}